body {
  background-color: black;
}

.title {
  font-size: x-large;
  margin-left: 30px;
  margin-right: 30px;
  grid-column: span 3;
  text-align: center;
  height: 56px;
}

.country-title {
  font-size: medium;
}

.map {
  width: 1520px;
}

.mapbox {
  height: 600px;
}

.country {
  height: 440px;
}

.total {
  height: 120px;
  width: 180px;
}

.red {
  color: red;
}

.yellow {
  color: yellow;
}

.green {
  color: greenyellow;
}

.scrollable {
  overflow-y: auto;
  max-height: 335px;
}

.one {
  font-size: x-large;
  text-align: center;
}

.row-space {
  margin-top: 20px;
}